

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }

  body{font-family: 'Roboto', sans-serif;
    background: url('https://sun9-82.userapi.com/impg/61hS53F6RptKL5vc9kmB8khvPf0wA59aE1xJXw/5_MUE2nm0V4.jpg?size=2560x1707&quality=96&sign=8de44ea303392f909f20987ede62ce3e&type=album');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }



.all{ 
margin-top: 5%;
margin-left: 24%;
margin-right: 24%;
margin-bottom: 10%;




}

.logo{
text-align: left;
font-size: 24px;
color: #fff;
font-weight: 400;



}


.header{
  padding-top: 150px;
}
.phrase{
 padding-top: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}


.form-group{
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.form-control{
  font-size: 40px;
}

.input-date{
  text-align: center;

}
.birthday{
  padding-top: 150px;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}

.input-year{
  text-align: center;
  
}
.long{
  padding-top: 100px;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  
}

select {
  height: 60px;
  font-size: 30px;
  appearance: none;

  -moz-appearance: none;
-webkit-appearance: none;
border: none;
position: relative;
outline: none;
background-color: #fff; 
color: #050505;
border-radius: 10px;
text-align: center;

}

.button{
  
  text-align: center;
  color:#fff;
  border: none;
  background-color: transparent;
  font-size: 50px;
  font-weight: 700;
}

.generating{
  text-align: center;
  padding-top: 50px;
  
}




